# Scraping
requests==2.31.0
beautifulsoup4==4.12.3
lxml
fake-useragent==1.4.0

# Stockage
minio==7.2.3
pymongo==4.6.1

# Traitement de données
pandas
numpy
pillow

# Utilitaires
python-dotenv==1.0.1
tenacity==8.2.3
structlog==24.1.0
tqdm==4.66.1

# Tests
pytest==8.0.0

# Notebooks
jupyter==1.0.0
matplotlib==3.8.3
seaborn==0.13.2
