# --- Scraping & API ---
requests==2.31.0
beautifulsoup4==4.12.3
lxml==5.1.0

# --- Stockage SQL (PostgreSQL) ---
psycopg2-binary==2.9.9
sqlalchemy==2.0.27

# --- Stockage NoSQL & S3 ---
pymongo==4.6.1
minio==7.2.3

# --- Traitement de données ---
pandas==2.2.0
openpyxl==3.1.2
pillow==10.2.0

# --- Utilitaires & Logs ---
python-dotenv==1.0.1
structlog==24.1.0
tenacity==8.2.3
tqdm==4.66.1

# --- Tests & Qualité ---
pytest==8.0.0